<div id="editedNavbar">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" id="editedNavbarButton"class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="myNavbarBrand" class="navbar-brand" href="#" data-scroll>Daniel Lees</a>

      </div>

      <div class="collapse navbar-collapse" id="myNavbar">

        <ul id="navOptions" class="nav navbar-nav navbar-right">
          <li><a href="#bodyContent" data-scroll>Home</a></li>
          <li><a href="#aboutMe">About Me</a></li>
          <li><a href="#workHistory">Work History</a></li>
          <li><a href="#education">Education</a></li>
        </ul>
        <div class="navbar-icons">
          <a aria-label="Send email" href="mailto:daniellees30@gmail.com"><i class="icon fa fa-envelope"></i></a>
          <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/daniellees30/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
          <a aria-label="My Github" target="_blank" href="https://github.com/daniellees30"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </nav>
</div>
